.idea
tests
gorskiy/public_tests
gorskiy/run.py
bayer_plus
ryn.py
script.sh
/**/*.zip
context_scaling/public_tests
context_scaling/run.py
/**/*.png
/venv
panorama/jpeg
panorama/panorama
panorama/results
panorama/tests
panorama/main.py
panorama/panorama.pdf
panorama/plots.py
panorama/run.py
sign_classification/public_tests
sign_classification/run.py
