.idea
tests
gorskiy/public_tests
gorskiy/run.py
bayer_plus
ryn.py
script.sh
/**/*.zip
context_scaling/public_tests
context_scaling/run.py
/**/*.png
/venv
panorama
sign_classification/public_tests
sign_classification/run.py
